* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

@font-face {
    font-family: 'Inter';
    src:
        url('../../../assets/fonts/static/Inter-Black.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #111;
}